/* PRE-LOADER SECTION STYLING */
#Loader{
    position:fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgb(24, 48, 14);
    z-index: 3000;
  }
  #Loader div{
    margin-top: 40vh; 
  }
  #Loader div p{
    padding-top: 30px;
    color: black;
    align-content: center;
    margin-left: 0%;
    font-family: 'Oxanium', cursive;
    font-size:25pt;
  }
  #Loader div img{
    width: 100px;
    height:100px;
    animation: pulse 1.5s linear infinite;
    border-radius: 50%;
    transform: scale(0.5);
    box-shadow: 0 0 0px #000;
    margin-left: 0%;
  
  }
  @keyframes pulse{
    0%{box-shadow: 0 0 0px #000; transform: scale(1.3);}
    30%{box-shadow: 0 0 0px #000; transform: scale(0.);}
    50%{box-shadow: 0 0 0px #000; transform: scale(0.6);}
    70%{box-shadow: 0 0 70px #000; transform: scale(1.2);}
    95%{box-shadow: 0 0 70px #000;transform: scale(1.3);}
    100%{box-shadow: 0 0 130px #000;transform: scale(1.3);}
  }
  .beforeLoad{
    transform: translateY(100vh);
  }
  .onLoad{
    transform: translateY(0);
  }
  
/*Other styles */
body{
    text-align: center;
    font-family: 'Tomorrow', ;
    background:black;
  }

a:link, a:visited {
  background-color:red;
  color:black;
  padding: 15px 70px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

.image {
  padding-left: 50px;
  padding-bottom: 20px;
}
.name {
  color:red;
  margin-left: 2%;
}
body{
    background:"img/black.jpeg" class = "bg-dark";

}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color:white;
  font-family: 'Oxanium', cursive;
  padding-left: 90px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 500px;
  height: 300px;
  background-color: black;
  color:rgb(27, 139, 27) ;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 25%;
  left: none;
  right: -100%;
  margin-left: none;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.button1{
  color: greenyellow;
  border-color: rgb(145, 58, 58);
  width: 350px;
  height: 40px;
  border-radius:6px;
  background-color:brown;
}
.button2{
  color: greenyellow;
  border-color: rgb(145, 58, 58);
  width: 350px;
  height: 40px;
  border-radius:6px;
  background-color:brown;
  
}
.button3{
  color: greenyellow;
  border-color: rgb(145, 58, 58);
  width: 350px;
  height: 40px;
  border-radius:6px;
  background-color:brown;
}

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
.button4{
  color: rgb(145, 58, 58);
  border-color: rgb(145, 58, 58);
  font-size:20pt;
  width: 250px;
  height: 35px;
  border-radius:15px;
  background-color:rgb(27, 139, 27);
  font-family: 'Abril Fatface', cursive;
}